.App {
  text-align: center;
}

/* css(image) */

.image-size{
  margin: 10px auto;
  padding-right :20px;
  height:150px;

}

/* css(header)*/

h1{
  border: 20px solid rgb(230, 167, 119);
  background-color:rgb(230, 194, 194);
  padding: 25px;
  padding-top:25px;
  margin-bottom: 35px;
  color:rgb(148, 109, 80);

}

/* css(div) */

div{
  background-color:rgb(240, 144, 110);
 
}

